/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 36px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .product {
    width: 50%;
    margin-bottom: 50px;
  }
  .menu-icon {
    display: none;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
    color: red;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .container {
    color: #d35400;
  }

  .product {
    width: 100%;
  }

  input, textarea {
    width: 200px
  }
}
